@import 'translate-table.css';

body {
    padding: 5em;
}

@media screen and (max-width: 768px) {
    body {
        padding: 1em;
    }
}

#app {
    font-family: MiSans,Harmony Sans SC,Noto Sans SC,sans-serif;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}